@charset 'utf-8';

body {
    text-align: center;
}

h1 {
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(90deg,rgba(0, 187, 221, 1) 0%, rgba(0, 187, 221, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 0.5rem 1rem;
    background-size: 200% 100%;
}

h2 {
    background-image: url(https://picsum.photos/400/300);
    background-size: cover;
    background-color: orange;
    color: #fff;
    display: inline-block;
    padding: 6rem 3rem;
    border-radius: 50%;
}